/* body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden
}

a{
    text-decoration: none;
}


.nav-bar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}


.show-link{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.show-link span{
    align-self: center;
}

.care:hover .hover-display{
    display: block;
}

.hover-display{
    display: none;
}

.display .hover-display{

}

.hide-link{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10rem;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 100;
}


.hide-link div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

.hide-link div:last-of-type{
    padding-top: 1.9rem;
}

.hide-link div a{
    color: black;
    font-size: 1.3rem;
    display: block;
}

.hide-link img{
    border-radius: 2rem;
    margin-top: 3rem;
} */

@font-face {
    font-family: 'Roboto';
    src: url("Roboto-Regular.ttf");
}

*{
    font-family: 'Roboto';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.nav-bar .search{
    align-self: flex-end;
    width: 100%;
    text-align: right;
}

.hamburger{
    display: none;
}

.search *{
    margin-right: 1rem;
    font-weight: 100;
    margin-bottom: 1rem;
}

.input{
    position: relative;
    width: 23%;
    display: inline;
}

.input input{
    width: 7rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 600;
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    background-color: rgba(0, 131, 209, 0.2);
    color: #0083d1;
    border: 1px solid wheat;
}

.input span{
    color: #0083d1;
    position: absolute;
    right: 65%;
    top: 3%;
}

.input input::placeholder{
    color: #0083d1;
} 

.search a{
    display: inline-block;
}

.search a:hover{
    color: #0083d1;
}

.nav *{
    margin-left: 1rem;
}

.nav *:hover{
    color: #0083d1;
}

.logo{
    width: 50%;
}

.logo img{
    width: 50%;
    padding-inline: 0.5rem;
    margin-left: 0.7rem;
}

a{
    text-decoration: none;  
    color: black;
}

.hero{
    
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.1) 70%), url('home-hero.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    margin-top: 1rem;
}

.hero h1{
    color: white;
    font-size: 3rem;
    padding: 2rem;
}

.doctrine{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
}

.provider{
    width: 25rem;
    height: 30rem;
    padding: 1rem;
}

.provider a{
    font-weight: 600;
    font-size: 1.2rem;
    color: #0078bf;
}

.provider p{
    margin-bottom: 3rem;
}

.provider a:last-of-type{
    color: white;
    background-color: #0078bf;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 0.2rem;
}

.provider img{
    width: 25rem;
    height: 15rem;
    margin-bottom: 2rem;
}

.health-library{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
   
}

.health-library div{
    width: 25%;
    height: 23rem;
    padding: 2rem;
    background-color: #0083d1;
}

.health-library div:first-child{
    color: white;
    text-align: center;
}

.health-library div:first-child h1{
    margin-top: 7rem;
}

.health-library .organs{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    background-color: #f1faff;
}

.organs *{
    width: 70%;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
    color: #0089d9;
    border-bottom: 1px solid #0089d9;
}

.care{
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding-block: 2rem;
}

.care div{
    width: 30%;
    background-color: #ffffff;
    margin-top: 1rem;
    padding: 1.5rem;
}

.care div p{
    margin-bottom: 5rem;
    font-size: 1.3rem;
    color: rgba( 0, 0, 0, 0.7);
    line-height: 2rem;
}

.care div img{
    width: 5rem;
}

.care div hr{
    height: 0.3rem;
    background-color: rgba( 0, 0, 0, 0.6);
    width: 90%;
}

.care div h3{
    color: #005688;
    font-size: 2.3rem;
    padding-block: 2rem;
}

.care-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.care-div a{
    width: 12rem;
    color: #005688;
    border-bottom: 1px solid #005688;
    font-weight: 550;
}

.why{
    margin-top: 2rem;
}

.why h1{
    text-align: center;
    margin-block: 2rem;
}

.center{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.centered-care{
    width: 20%;
    height: auto;
}

.centered-care h4{
    margin-block: 1.5rem;
}

.centered-care p{
    color: rgba( 0, 0, 0, 0.6);
    line-height: 1.5rem;
    font-size: 0.9rem;
}

.centered-care p a{
    color: #0083d1;
    border-bottom: 1px solid #0083d1;
}

.centered-img{
    background-color: #f1faff;
    width: 100%;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.centered-img img{
    width: 4rem;
    height: 4rem;
}

.slide{
    width: 100%;
    margin-top: 5rem;
}

.slide h1{
    text-align: center;
    font-weight: 1000;
}

.slide-container{
    width: 100%;
    padding: 2rem;
    display: flex;
    gap: 0.2rem;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scrollbar-width: none;
}

.slide-container .slide-link{
    scroll-snap-align: start;
    scroll-snap-stop: always normal;
    flex: 0 0 26%;
    padding: 1rem;
}

.slide-link:focus{
    outline: none;
}

.slide-link img{
    width: 100%;
}

.slide-link:hover{
    box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba( 0, 0, 0, 0.5);
}

.slide-link a:last-child{
    color: #0078bf;
    font-size: 1.3rem;
    font-weight: 700;
    display: inline-block;
    margin-top: 1rem;
    padding-inline: 1rem;
}

.providers{
    width: 100%;
    padding: 2.5rem;
    padding-bottom: 2rem;
}

.provider-content{
    width: 65%;
    margin: auto;
    text-align: left;
}

.provider-content h1{
    font-size: 2.7rem;
    font-weight: 900;
    color: rgba( 0, 0, 0, 0.9);
    margin-bottom: 1rem;
}
.provider-content p{
    font-size: 2.2rem;
    color: rgba( 0, 0, 0, 0.6);
}

.option{
    width: 100%;
}

.option-container{
    width: 50%;
    margin: auto;
    padding: 1rem;
}

.option-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    border-bottom: 1px solid rgba( 0, 0, 0, 0.2);
}

.option-content a{
    font-size: 1.5rem;
    font-weight: 700;
    color: #0083d1;
}

.option-content span{
    font-size: 2rem;
    margin-left: auto;
    align-self: center;
    color: #0083d1;
    font-weight: 600;
}

.appointment{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    background-color: #3f4047;
    padding-inline: 7rem;
    padding-block: 3rem;
}

.appointment div{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    color: white;
}

.appointment div a{
    color: #0083d1;
    font-size: 1.7rem;
}

.appointment > a{
    display: inline-block;
    align-self: center;
    color: #0083d1;
    background-color: white;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 0.3rem;
}

.social-media{
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-block: 1.5rem;
}

.handle{
    width: 4%;
    height: 8%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 50%;
    background-color: #737373;
}

.handle i{
    font-size: 1.5rem;
}

footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem;
}

.final{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 0 0 20%
}

.final h4{
    font-size: 1.3rem;
    color: rgba( 0, 0, 0, 0.8);
}

.final a{
    color: rgba( 0, 0, 0, 0.7);
}

.final a:hover{
    color: #0083d1;
}


@media (max-width: 900px){
    .logo{
        width: 100%;
    }

    .nav{
        padding: 1rem;
    }

    .nav *{
        display: inline-block;
        margin-block: 1rem;
    }

    .logo img{
        width: 35%;
    }

    .care div{
        flex:  0 0 50%;
    }

    .centered-care{
        flex: 0 0 40%;
    }

    .slide-container .slide-link{
        flex: 0 0 52%;
    }

    .option-container{
        width: 100%;
    }

    .option-content{
        padding-inline: 2.5rem;
    }
    
    .option-content a{
        font-size: 1.2rem;
    }

    .option span{
        font: 1.5rem;
    }

    .health-library{
        flex-direction: column;
        gap: 0;
    }

    .health-library div{
        margin: auto;
    }

    .health-library div:first-child{
        width: 40%;
        flex: 0 0 10%;
        text-align: center;
    }

    .health-library div:first-child h1{
        margin: 0;
    }

    .health-library .organs{
        width: 40%;
        flex: 0 0 90%;
    }

    .final{
        flex: 0 0 45%
    }

    .nav-bar .search, .logo, .nav{
        display: none;
    }

    .hamburger{
        display: block;
        font-size: 2rem;
    }

 
}

@media (max-width: 700px){

    .logo{
        width: 100%;
    }

    .logo img{
        width: 50%;
    }

    .search{
        padding: 2rem;
        text-align: center;
        font-size: 1rem;
    }
        
    .search *{
        margin-bottom: 1rem;
    }

    .appointment > a{
        flex: 0 0 90%;
    }


}



@media (max-width: 500px) {
    .logo{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .logo img{
        width: 70%;
    }

    .slide-link a:last-child{
        font-size: 0.7rem;
    }

    .providers{
        padding: 2rem;
    }

    .provider-content h1{
        font-size: 2.1rem;
    }

    .provider-content p{
        font-size: 1.5rem;
    }

    .centered-care{
        flex: 0 0 80%;
        
    }

    .health-library div{
        width: 90%;
    }

        .health-library div:first-child{
        width: 70%;
    }

    .health-library div:last-child{
        width: 70%;
    }

    
    .final{
        flex: 0 0 90%;
    }

    .care div{
        width: 100%;
        padding: 1rem;
        margin: auto;
}

.provider{
    width: 90%;
    margin: auto;
    justify-content: center;
}
}

@media (max-width: 400px) {

    .providers{
        padding: 1rem;
    }
    
    .provider-content h1{
        font-size: 1.9rem;
    }

    .provider-content p{
        font-size: 1.2rem;
    }
}